<app-header></app-header>
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark">
    <i _ngcontent-c3="" aria-hidden="true" class="fa fa-bars fa-4" style="color:#ffffff;"></i>
  </a>
<app-sidebarnavigation></app-sidebarnavigation>
  <!-- sidebar-wrapper  -->

  <main class="page-content">
    <div class="container-fluid">
      <!-- <app-dashboard></app-dashboard> -->
      <app-usermanagement></app-usermanagement>
      <!-- <app-contact-list></app-contact-list> -->
    </div>
  </main>
  <!-- page-content" -->
  
  </div>