<div id="rightSideWrapper">
  <div class="ContentBox" style="display: block;">
    <main>
        <router-outlet></router-outlet>
      <!-- Main Content  -->
      <!-- <div class="test-header">
              Page Size:
              <select (change)="onPageSizeChanged()" id="page-size">
                <option value="10" selected="">10</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
              </select>
            </div> -->
      <div class="container-fluid custom_search" *ngIf="isValid()" style="padding: 0px;">
        <div class="col-lg-12" style="padding: 0px;color: #117a8b; text-transform: uppercase; line-height: 40px;">
          <h5>Subscription</h5>

          <flash-messages></flash-messages>
          <div class="col-lg-12 search_box" style="border:2px solid #bababa; border-radius: 5px; padding:0px 10px; text-transform: none; margin-top:0px;">
            <form action="#">
              <div class="row">
                <div class="col-lg-2">
                  <div class="form-group">
                    <label for="sel1">Subscription No:</label>
                    <input type="text" class="form-control form-control-sm" id=" " name="subscriptionNo" [(ngModel)]="subscriptionNo" >
                   
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label for=" ">Customber Email:</label>
                    <input type="text" class="form-control form-control-sm" id=" " name="email" [(ngModel)]="email" >
                  </div>
                </div>
                <!-- <div class="col-lg-2">
                  <div class="form-group">
                    <label for=" ">First Name:</label>
                    <input type="text" class="form-control form-control-sm" id=" " name="first_name" [(ngModel)]="first_name">
                  </div>
                </div> -->


                <div class="col-lg-2">
                  <div class="form-group">
                    <label for=" ">Status:</label>
                    <select class="form-control form-control-sm" placeholder="select" id=" " name="sellist1" name="status" [(ngModel)]="status">
                        <option>Active</option>
                        <option>Active</option>
                      </select>
                  </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                      <label for=" ">Customber Name:</label>
                      <input type="text" class="form-control form-control-sm" id=" " name="customerName" [(ngModel)]="customerName">
                    </div>
                  </div>
  
                  <div class="col-lg-2">
                    <div class="form-group">
                      <label for=" ">Plan Name:</label>
                      <input type="text" class="form-control form-control-sm" id="" name="planName" [(ngModel)]="planName">
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div class="form-group">
                      <label for="">Amount:</label>
                      <input type="text" class="form-control form-control-sm" id="" name="price" [(ngModel)]="price">
                    </div>
                  </div>



                
              </div>
              <div class="row">
                  <div class="col-lg-2">
                      <div class="form-group">
                        <label for=" ">Created On:</label>
                        <div class="input-group">
                            <input  class="form-control form-control-sm" placeholder="DD-MM-YYYY"  name="createdDate"  [(ngModel)]="createdDate" ngbDatepicker #activedatethis="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="activedatethis.toggle()" type="button">
                              <i class="fa fa-calendar fa-2" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div>
                        <!-- <div class="input-group">
                            <input id="" class="form-control" placeholder="YYYY-MM-DD"  name="createdDate"  [(ngModel)]="createdDate" ngbDatepicker #enddate="createdDate1">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="enddate.toggle()" type="button">
                              <i class="fa fa-calendar fa-2" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div> -->
                        <!-- <input type="text" class="form-control form-control-sm" id=" " name="Created_on" [(ngModel)]="Created_on"> -->
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label for="sel1">Activated On:</label>
                        <!-- <input type="text" class="form-control form-control-sm" id=" " name="Activated_on" [(ngModel)]="Activated_on"> -->
                        <div class="input-group">
                            <input  class="form-control form-control-sm" placeholder="DD-MM-YYYY"  name="activatedDate"  [(ngModel)]="activatedDate" ngbDatepicker #activedate="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="activedate.toggle()" type="button">
                              <i class="fa fa-calendar fa-2" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div>
                      </div>
                    </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label for="">Last Billed On:</label>
                    <!-- <input type="text" class="form-control form-control-sm" id="" name="last_bill" [(ngModel)]="last_bill"> -->
                    <div class="input-group">
                        <input  class="form-control form-control-sm" placeholder="DD-MM-YYYY"  name="lastBillDate"  [(ngModel)]="lastBillDate" ngbDatepicker #lastbilldate="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="lastbilldate.toggle()" type="button">
                          <i class="fa fa-calendar fa-2" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label for=" ">Next Billed On:</label>
                    <!-- <input type="text" class="form-control form-control-sm" id="" name="nextBillDate" [(ngModel)]="nextBillDate"> -->
                    <div class="input-group">
                        <input  class="form-control form-control-sm" placeholder="DD-MM-YYYY"  name="nextBillDate"  [(ngModel)]="nextBillDate" ngbDatepicker #nextbilldate="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="nextbilldate.toggle()" type="button">
                          <i class="fa fa-calendar fa-2" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-lg-4">
                    <label style="width:100%;"></label>
                    <button type="button" id="searchBtn" class="btn btn-info float-right" style=" margin-left: 5px; line-height:17px;">
                        Export to Csv <i class="fa fa-cloud-download" aria-hidden="true"></i>
                    </button>
                  
                  
                  <button type="button" id="searchBtn" class="btn btn-info float-right" style=" margin-left: 5px; line-height:17px;" (click)="searchSubcription(subscriptionNo,customerName,email,planName,status,price,createdDate,activatedDate,lastBillDate,nextBillDate)">
                    Search
                    <i class="fa fa-search" aria-hidden="true" style="color:#ffffff;margin-top: -4px;margin-left: 5px; "></i>
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
        <div id="productGrid" style="position: relative;">
          <div style="height: 100%; padding-top: 15px; box-sizing: border-box; width: auto;">
            <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham"
              [rowSelection]="rowSelection" [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow"
              [enableRangeSelection]="true" [pagination]="false" [defaultColDef]="defaultColDef"
              [suppressRowClickSelection]="true" [rowSelection]="rowSelection" [paginationPageSize]="paginationPageSize"
              [enableSorting]="true" [enableFilter]="true" [rowData]="rowData" [columnDefs]="columnDefs"
              (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents"></ag-grid-angular>
          </div>
          <!-- <div style="position: absolute; top: 10px; left: auto; width: 100%;">
            <input type="text" class="form-control" (input)="onQuickFilterChanged()" style="width: 30%; display: inline-block;"
              id="quickFilter" placeholder="quick filter..." />
            <label style="margin-left: 20px;"> <button (click)="onBtExport()" class="btn btn-info" style="margin-top: -7px;">Export
                to CSV <i class="fa fa-cloud-download" aria-hidden="true"></i></button> </label>
          </div> -->
        </div>

      </div>
    </main>
    <!-- <footer>
    </footer> -->
  </div>
</div>
