<div class="col-lg-12">
  <main>
    
    
 
    <h5 class="border_btm">Import product</h5>
    <flash-messages style="text-transform: capitalize;"></flash-messages>
    <div class="upload-btn-wrapper" id="exportImportBox" style="text-transform: capitalize;position: relative;display: inline-block;width: 100%;
      padding: 2%;text-align: left;border: 2px solid #bababa;border-radius: 5px;margin-top:5%">
      <label><strong>Upload Csv File :</strong></label>
      <div style="position:relative">
          
          <!-- <input type="file" class="form-control-file form-control" id="exampleFormControlFile1" (input)="inputfilename($event)"
            style="text-indent: 9999px; width: 50%; margin-bottom: 15px; float: left" accept=".csv" name="selectedfile" [(ngModel)]="selectedfile"> -->
            <input type="file" class="form-control-file form-control" id="exampleFormControlFile1"
          (input)="inputfilename($event)" style="text-indent: 9999px; width: 50%; margin-bottom: 15px; float: left"
          accept=".csv" name="selectedfile" [(ngModel)]="selectedfile">
        </div>
        <button type="button" id="uploadbtn" class="btn btn-info" style="margin-left:10px"
        (click)="postMethod1()">Upload</button>
      <button type="button" id="samplebtn" class="btn btn-outline-info" style="margin-left:10px"
        (click)="downloadSample()">Sample CSV File</button>
        <button type="button" id="reload" class="btn btn-info" style="margin-left:10px;margin-top: -2px;" (click)="reload()">Reload</button>
      </div>
      <!-- <div style="position:relative">
        <input type="file" class="form-control-file form-control" id="exampleFormControlFile1"
          (change)="inputfilename($event)" style="text-indent: 9999px; width: 50%; margin-bottom: 15px; float: left"
          accept=".csv">
        <button type="button" id="uploadbtn" class="btn btn-primary" style="margin-left:10px"
          (click)="postMethod1()">UPLOAD</button>
        <button type="button" id="samplebtn" class="btn btn-primary" style="margin-left:10px"
          (click)="downloadSample()">SAMPLE</button>
      </div> -->
      <ng4-loading-spinner> </ng4-loading-spinner>
      <div id="productGrid">
        
        <div style="height: 100%; padding-top: 63px; box-sizing: border-box; width: auto;">
          <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham"
            [enableSorting]="true" [pagination]="false" [suppressDragLeaveHidesColumns]="true" [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="rowSelection"
            [rowData]="rowData" [context]="context" [frameworkComponents]="frameworkComponents"
            (gridReady)="onGridReady($event)"></ag-grid-angular>
        </div>
        <!-- <div style="position: absolute; top: 10px; left: auto; width: 100%;">
              <input type="text" class="form-control" (input)="onQuickFilterChanged()" style="width: 30%; display: inline-block;" id="quickFilter" placeholder="quick filter..." />
              <label style="margin-left: 20px;"> <button (click)="onBtExport()" class="btn btn-info" style="margin-top: -7px;">Export to CSV</button> </label>
            </div> -->
      </div>
  </main>
</div>