
      <div id="rightSideWrapper">
        <div class="ContentBox">
          <main>
              <h5 class="text-center">WELCOME TO YOUR DASHBOARD</h5>
              <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="dashboard_list">
                            <li>
                                <a  href="javascript:void(0)" routerLink='/subscriptions'>
                                  <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                                <span>Subscriptions</span>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:void(0)" class="animated bounce" routerLink='/product'>
                                  <i class="fa fa-bitbucket" aria-hidden="true"></i>
                                <span>Products</span>
                              </a>
                            </li>
                            <li>
                                <a  href="javascript:void(0)" routerLink='/usermanagement'>
                                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <span>User Management</span>
                              </a>
                            </li>
                          </ul>
                      </div>
                </div>
              </div>
            <!-- <div class="test-header" style="margin-bottom: 10px;">
              Page Size:
              <select (change)="onPageSizeChanged()" id="page-size">
                <option value="10" selected="">10</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
              </select>
            </div>
      
            <ag-grid-angular #agGrid style="width: 603px; height: 100%;" id="myGrid" class="ag-theme-balham" [rowSelection]="rowSelection"
              [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow" [enableRangeSelection]="true"
              [pagination]="true" [paginationPageSize]="paginationPageSize" [paginationNumberFormatter]="paginationNumberFormatter"
              [enableSorting]="true" [enableFilter]="true" [pagination]="true" [rowData]="rowData" [columnDefs]="columnDefs"
              (gridReady)="onGridReady($event)"></ag-grid-angular> -->
          </main>
         
        </div>
      </div>
     


<!-- <app-header></app-header>
<div class="page-wrapper chiller-theme toggled">
<app-sidebarnavigation></app-sidebarnavigation>
  <main class="page-content">
    <div class="container-fluid">
      
    </div>
  </main>  
  </div> -->