<app-header></app-header>
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark">
    <i _ngcontent-c3="" aria-hidden="true" class="fa fa-bars fa-4" style="color:#ffffff;"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a>ADMIN</a>
        <div id="close-sidebar">
          <i class="fa fa-times fa-3" style="color:#ffffff;" aria-hidden="true"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">Jhon
            <strong>Smith</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <!-- <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div> -->
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown active" >
            <a  href="javascript:void(0)">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span>Dashboard</span>
          </a>
            <div class="sidebar-submenu" style="display:block;">
              <ul>
                <li>
                  <a>Dashboard sub menu</a>
                </li>
                <li>
                  <a>Dashboard sub menu</a>
                </li>
                <li>
                  <a>Dashboard sub menu</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown" >
            <a  href="javascript:void(0)">
              <i class="fa fa-bitbucket" aria-hidden="true"></i>
            <span>Products</span>
          </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a>Products sub menu </a>
                </li>
                <li>
                  <a>Products sub menu </a>
                </li>
                <li>
                  <a>Products sub menu </a>
                </li>
              </ul>
            </div>
          </li>
          
          <li class="sidebar-dropdown" >
            <a  href="javascript:void(0)">
              <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
            <span>Subscriptions</span>
          </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a>Subscriptions sub menu</a>
                </li>
                <li>
                  <a>Subscriptions sub menu</a>
                </li>
                <li>
                  <a>Subscriptions sub menu</a>
                </li>
                <li>
                  <a>Subscriptions sub menu</a>
                </li>
                <li>
                  <a>Subscriptions sub menu</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown active" >
              <a  href="javascript:void(0)">
                  <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 20px;"></i>
                <span>User Management</span>
              </a>
            </li>
          <!-- <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-chart-line"></i>
              <span>Charts</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a>Pie chart</a>
                </li>
                <li>
                  <a>Line chart</a>
                </li>
                <li>
                  <a>Bar chart</a>
                </li>
                <li>
                  <a>Histogram</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-globe"></i>
              <span>Maps</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a>Google maps</a>
                </li>
                <li>
                  <a>Open street map</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-menu">
            <span>Extra</span>
          </li>
          <li>
            <a>
              <i class="fa fa-book"></i>
              <span>Documentation</span>
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-folder"></i>
              <span>Examples</span>
            </a>
          </li> -->
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
        <a href="#">
          <i class="fa fa-bell"></i>
          <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a href="#">
          <i class="fa fa-envelope"></i>
          <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a href="#">
          <i class="fa fa-cog"></i>
          <span class="badge-sonar"></span>
        </a>
        <a href="#">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    <!-- <div class="sidebar-footer">
     <span>User Management</span>
        <ul>             
          <li class="sidebar-dropdown active" >
            <a  href="javascript:void(0)">
                <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 20px;"></i>
              <span>User Management</span>
            </a>
          </li>                  
        </ul>           
    
    </div> -->
  </nav>
  <!-- sidebar-wrapper  -->

  <main class="page-content">
    <div class="container-fluid">
      <!-- <app-dashboard></app-dashboard> -->
      <app-usermanagement></app-usermanagement>
      <!-- <app-contact-list></app-contact-list> -->
    </div>
  </main>
  <!-- page-content" -->
  
  </div>